<div class="block-grid {{ include.extra_class }} searchable-item" data-keywords="{{ include.title | downcase }} {{ include.keywords | downcase }}">
  <a href="{{ include.url }}" target="_blank" title="{{ include.meta }}" rel="noopener noreferrer">
    <div class="grid-title">{{ include.title }}</div>
    <div class="grid-icon">
      <i class="{{ include.icon }}" aria-label="{{ include.title }} icon" role="img" title="{{ include.title }}"></i>
    </div>
    {% if include.meta %}
    <div class="grid-meta">{{ include.meta }}</div>
    {% endif %}
  </a>
</div>
